.ui--animal {
    position: absolute;
    border-radius: 50%;

    width: 5px;
    height: 5px;
}

.css--predator {
    background-color: red;
}

.ui--calendar {
    position: relative;
    background-color: rgba(255, 0, 0, 8%);
    width: 170px;
    height: 90px;
    border-radius: 10px;
}

.ui--year {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ui--season {
    position: absolute;
    top: 25px;
    left: 10px;
}

.ui--month {
    position: absolute;
    top: 40px;
    left: 10px;
}

.ui--day {
    position: absolute;
    top: 55px;
    left: 10px;
}

.ui--speed {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: monospace;
    color: lightgrey;
}
